body {
    font-family: "arial", "sans-serif";
    font-size: 13px;
    color: #000000;
    opacity: 75%;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    color: rgba(0,0,0,0.87);
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto auto;
    grid-template-rows: 50px;
    grid-template-areas: "about store . gmail images apps signin";
}

#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
    margin: 15px;
}

#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}

#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
    margin-right: 15px;
}

#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
    margin-right: 15px;
}

#apps {
    grid-area: apps;
    justify-self: center;
    align-self: center;
    margin-right: 15px;
}

#signin {
    grid-area: signin;
    justify-self: center;
    align-self: center;
    background-color: rgb(66, 133, 244);
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
    border-color: rgb(66, 133, 244);
    border: 1px rgb(66, 133, 244) solid;
    margin-right: 15px;
}

.logo {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 20px;
}

.search-entry {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: text;
}

.search {
    border-radius: 25px;
    width: 550px; 
    padding: 13px;
    border-color: rgb(223, 225, 229);
}

input {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin: 25px 5px 0 5px;
    width: 140px;
    border: 0.5px, solid #d9d9d9;
    border-width: thin;
    cursor: pointer;
    font-size: 14px;
}

.search-buttons {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit] {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(237, 238, 239);
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto auto;
    grid-template-rows: 50px;
    grid-template-areas: "advert biz hsw . privacy terms settings";
}

#advert {
    grid-area: advert;
    justify-self: center;
    align-self: center;
    margin: 15px;
}

#biz {
    grid-area: biz;
    justify-self: center;
    align-self: center;
    margin-right: 15px;
}

#hsw {
    grid-area: hsw;
    justify-self: center;
    align-self: center;
}

#privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
    margin-left: 15px;
}

#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
    margin-left: 15px;
}

#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
    margin: 15px;
}
